.item_list{
    min-width: 20px;
}
.big_box{
    width:350px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 100px;
    border: 1px solid #fff;
}