.text_footer {
  width:400px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-left: 180px;
}
.btn{
  color: #fff;
  background: red;
  border-radius: 24px;
  width: 100px;
  height: 30px;
  line-height: 20px;
  text-align: center;
}